<%= content_for :title, "Automatická kontrola podnetu" %>

<section class="report">
  <h1>Podnet má problém</h1>

  <% if @draft.errors.added?(:base, :municipality_unsupported) %>
    <div class="report-summary-block-con">
      <div class="report-warning">
        <div class="title">Samospráva nie je zapojená do portálu Odkaz pre starostu</div>
        <div class="description">
          <p>Tento podnet nemôžeme spracovať, nakoľko samospráva nie je zatiaľ zapojená do portálu Odkaz pre starostu. </p>
        </div>
        <%= link_to "Viac info", "/pridajte-sa", class: "button button-transparent" %>
      </div>
    </div>

    <%= link_to "Upraviť podnet", issues_draft_summary_path(@draft), class: "button button-transparent" %>
  <% elsif @draft.errors.added?(:base, :municipality_supported_on_old_portal) %>
    <div class="report-summary-block-con">
      <div class="report-warning">
        <div class="title">Samospráva ešte nebola premigrovaná na nový portál Odkazu&nbsp;pre&nbsp;starostu</div>
        <div class="description">
          <p>Tento podnet môžete zatiaľ zverejniť na pôvodnom portáli Odkazu pre starostu. </p>
        </div>
        <%= link_to "www.odkazprestarostu.sk", "https://www.odkazprestarostu.sk", class: "button button-transparent", target: :_blank %>
      </div>
    </div>

    <%= link_to "Upraviť podnet", issues_draft_summary_path(@draft), class: "button button-transparent" %>
  <% elsif @draft.errors.added?(:base, :duplicates_nearby)  %>
    <div class="report-summary-block-con">
      <div class="report-warning">
        <div class="title">Skontrolujte podobné podnety nablízku</div>
        <div class="description">
          <p>V blízkosti podnetu sa už nachádzajú podnety z&nbsp;rovnakej kategórie. Skontrolujte, prosím, či nenahlasujete rovnaký podnet.</p>
          <p><strong>K tomuto neodoslanému podnetu sa môžete neskôr jednoducho vrátiť.</strong></p>
        </div>
        <%= button_to "Zobraziť podobné podnety", issues_draft_duplicates_path(@draft), method: :patch, class: "button" %>
      </div>
    </div>
  <% elsif @draft.errors[:checks].any? %>
    <%= render partial: 'checks', object: @draft.checks %>
  <% end %>
</section>
