<div id="<%= dom_id issue %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= issue.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= issue.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= issue.author.fullname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reported at:</strong>
    <%= issue.reported_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zammad ID:</strong>
    <%= issue.triage_external_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= issue.state.name %>
  </p>

</div>
