<!-- Mapa podnetov -->
<% if @search_results.hits.length > 0 %>
  <div class="wrapper-map" style="position: relative;"
       data-controller="search-map"
       data-search-map-target="map"
       data-search-map-geo-json-url-value="<%= geo_issues_path(@search_results.search_params.except(:tab, :sort)) %>"
       data-search-map-base-search-url-value="<%= issues_path(@search_results.search_params.merge(tab: :list)) %>"
       data-search-map-bbox-filter-value="<%= @search_results.search_params[:oblast] %>"
       data-search-map-geo-filter-param-value="oblast"
       data-search-map-pin-value="<%= @search_results.search_params[:pin] %>"
  >
    <div class="container-map" id="map"></div>
    <div style="position: absolute; bottom: 1rem; width: 100%; z-index: 1000;">
      <button class="button" style="margin: 0 auto;" data-action="click->search-map#geofilter">Zobraziť dopyty z mapy</button>
    </div>
  </div>
<% else %>
  <section class="search-result-blank">
    <h1>Mrzí nás to, ale nič sa nenašlo</h1>

    <figure class="empty-box">
      <%= image_tag "krabica.png", alt: "" %>
    </figure>

    <div class="notice">Vybraným filtrom nevyhovujú žiadne dopyty. Skúste vyhľadávanie upraviť.
    </div>
  </section>
<% end %>
