<section class="podnet" data-controller="zoombox">
  <div class="podnet-con">
    <!-- Podnet Description & Pictures -->
    <%= turbo_frame_tag issue, :edit do %>
      <div class="podnet-esential">
        <h1><%= issue.title %></h1>
        <div class="podnet-description prose">
          <%= simple_format issue.description %>
        </div>
        <div class="podnet-pictures-con">
          <%= tag.figure class: "big-picture", data: { action: "click->zoombox#open", zoombox_img_src_param: (issue.photos.attached? && issue.photos[0].representable?) ? url_for(issue.photos[0].variant(:full)) : nil, zoombox_img_index_param: 0, zoombox_group_param: dom_id(issue) } do %>
            <div class="lens-image">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                <path d="M38,36.59l-10.02-10.02c2.49-2.82,4.02-6.52,4.02-10.57C32,7.18,24.82,0,16,0S0,7.18,0,16s7.18,16,16,16c4.05,0,7.75-1.53,10.57-4.02l10.02,10.02,1.41-1.41ZM16,30c-7.72,0-14-6.28-14-14S8.28,2,16,2s14,6.28,14,14-6.28,14-14,14Z"/>
                <polygon points="23 15 17 15 17 9 15 9 15 15 9 15 9 17 15 17 15 23 17 23 17 17 23 17 23 15"/>
              </svg>
            </div>
            <picture>
              <%= responsive_image_tag issue.photos[0], srcset: [:normal, :full]  if issue.photos.attached? && issue.photos[0].representable? %>
            </picture>
          <% end %>
          <% if issue.photos.count > 1 %>
            <% issue.photos[1..].each.with_index(1) do |photo, index| %>
              <% next unless photo.representable? %>
              <%= tag.figure class: "small-picture", data: { action: "click->zoombox#open", zoombox_img_src_param: url_for(photo.variant(:full)), zoombox_img_index_param: index, zoombox_group_param: dom_id(issue) } do %>
                <div class="lens-image">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                    <path d="M38,36.59l-10.02-10.02c2.49-2.82,4.02-6.52,4.02-10.57C32,7.18,24.82,0,16,0S0,7.18,0,16s7.18,16,16,16c4.05,0,7.75-1.53,10.57-4.02l10.02,10.02,1.41-1.41ZM16,30c-7.72,0-14-6.28-14-14S8.28,2,16,2s14,6.28,14,14-6.28,14-14,14Z"/>
                    <polygon points="23 15 17 15 17 9 15 9 15 15 9 15 9 17 15 17 15 23 17 23 17 17 23 17 23 15"/>
                  </svg>
                </div>
                <picture>
                  <%= responsive_image_tag photo, srcset: [:thumb, :small] %>
                </picture>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="share-buttons">
          <% if current_user.can_edit?(issue) %>
            <%= button_to "Upraviť", edit_issue_path(issue), method: :get, class: "button button-transparent button-edit" %>
          <% end %>
          <%= render partial: "issue_subscriptions/button" %>
          <%= render partial: "issue_likes/button" %>

          <% unless issue.editable? %>
            <%= render partial: "issues/share_issue_om_social_media", locals: { issue: issue } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- Podnet Information -->
    <div class="podnet-information-con">
      <div class="podnet-information">
        <div class="information-wrapper">
          <div class="label">Stav riešenia podnetu:</div>
          <%= issue_state_badge(issue, class: "button button-status") %>
        </div>

        <% if issue.author %>
          <div class="information-wrapper">
            <div class="label">Podnet podal:</div>
            <div class="subject-con">
              <%= link_to_user_profile(issue.author, avatar_variant: :medium) %>
            </div>
          </div>
        <% end %>

        <div class="information-wrapper">
          <div class="label">Dátum:</div>
          <div class="value"><%= issue_effective_date(issue, format: :long) %></div>
        </div>

        <div class="information-wrapper">
          <div class="label">ID:</div>
          <div 
            class="value" 
            data-controller="clipboard" 
            data-clipboard-supported-class="clipboard--supported" 
            data-clipboard-content-value="<%= issue.id %>">
            #<%= issue.id %>
            <button data-action="click->clipboard#copy" class="clipboard-button" title="Skopírovať">
              <span data-clipboard-target="iconContainer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                  <path d="M16 1H4a2 2 0 00-2 2v14h2V3h12V1zm3 4H8a2 2 0 00-2 2v14a2 2 0 002 2h11a2 2 0 002-2V7a2 2 0 00-2-2zm0 16H8V7h11v14z"/>
                </svg>
              </span>
            </button>
          </div>
        </div>

        <% if issue.category.present? %>
          <div class="information-wrapper">
            <div class="label">Kategórie:</div>
            <div class="value-con">
              <%= link_to issue.category.name, issues_path(kategoria: issue.category.name), class: "value" %>
              <% if issue.subcategory %><%= link_to issue.subcategory.name, issues_path(kategoria: issue.category.name, podkategoria: issue.subcategory.name), class: "value" %>
              <% end %>
              <% if issue.subtype.present? %><%= link_to issue.subtype.name, issues_path(kategoria: issue.category.name, podkategoria: issue.subcategory.name, typ: issue.subtype.name), class: "value" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="information-wrapper">
          <div class="label">Zodpovedný:</div>
          <div class="value-con">
            <% if issue.responsible_subject.present? %>
              <%= link_to issue.responsible_subject.subject_name, issues_path(zodpovedny: issue.responsible_subject.subject_name), class: "value" %>
            <% else %>
              <span class="value">Nikto</span>
            <% end %>
          </div>
        </div>

        <div class="information-wrapper">
          <div class="label">Poloha:</div>
          <div class="value-con">
            <% if issue.address_street.present? %><%= link_to issue.address_street, issues_path(ulica: issue.address_street, cast: issue.municipality_district&.name, obec: issue.municipality&.name), class: "value" %><% end %>
            <% if issue.municipality_district %><%= link_to issue.municipality_district.name, issues_path(cast: issue.municipality_district.name, obec: issue.municipality.name), class: "value" %>
            <% end %>
            <%= link_to issue.municipality.name, issues_path(obec: issue.municipality.name), class: "value" %>
          </div>
          <div class="map" data-controller="map" data-map-latitude-value="<%= issue.latitude %>" data-map-longitude-value="<%= issue.longitude %>">
            <div data-map-target="map"></div>
          </div>
        </div>

      </div>
    </div>
    <!-- Discussion -->
    <div class="podnet-discussion">
      <div class="podnet-discussion-con">
        <div class="podnet-discussion-wrapper">
          <h1>Diskusia</h1>
          <!--<button class="button button-transparent">
            <span>Zoradiť</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </button>-->
        </div>

        <%= turbo_frame_tag "activities", class: 'comment-con' do %>
          <%= render activity_objects %>
          <% if activity_objects.empty? && !issue.discussion_closed? && !issue.archived? %>
            <div class="be-first-comment-notice">Buďte prvý kto overí podnet alebo napíše komentár!</div>
          <% end %>
        <% end %>

        <% if logged_in? %>
          <% if issue.discussion_closed? %>
            <div class="unverified-notice-con">
              <div class="unverified-notice-title">Diskusia k tomuto podnetu bola uzatvorená.</div>
            </div>
          <% elsif issue.archived? %>
            <div class="unverified-notice-con">
              <div class="unverified-notice-title">Tento podnet bol archivovaný a&nbsp;preto bola diskusia k&nbsp;nemu uzatvorená.</div>
            </div>
          <% else %>
            <% if current_user.is_a?(User::ResponsibleSubject) && issue.responsible_subject != current_user.responsible_subject %>
              <%= render partial: "issues/comments_responsible_subject_mismatch" %>
            <% elsif current_user.full_access? %>
              <%= render partial: "issues/new_issue_activity_buttons" %>
              <%= turbo_frame_tag "activity_form_content" %>
            <% else %>
              <%= render partial: "issues/comments_verified_profile_required" %>
            <% end %>
          <% end %>
        <% else %>
          <div class="no-login-notice-con">
            <div class="no-login-notice">Chcete pridať komentár alebo overiť podnet? Prihláste sa!</div>
            <div class="no-login-notice-buttons-con">
              <div class="login-con">
                <%= link_to "Prihlásiť", rodauth.login_path, class: "button", data: { turbo_frame: "_top" } %>
              </div>
              <div class="registration-con">
                <div class="registration-notice">Ešte nemáte účet?</div>
                <%= link_to "Vytvoriť účet", rodauth.create_account_path, class: "button button-transparent", data: { turbo_frame: "_top" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="zoombox" data-action="click->zoombox#backdropClose">
    <dialog data-zoombox-target="dialog" data-action="click->zoombox#close keydown.left->zoombox#prevImage keydown.right->zoombox#nextImage" tabindex="0">
      <div class="img-con">
        <button class="nav-arrow left-arrow" data-action="click->zoombox#prevImage" aria-label="Predošlá fotka">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
          </svg>
        </button>
        <img data-zoombox-target="image" data-action="touchstart->zoombox#touchStart:!passive touchend->zoombox#touchEnd:!passive">
        <button class="nav-arrow right-arrow" data-action="click->zoombox#nextImage" aria-label="Ďalšia fotka">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"/>
          </svg>
        </button>
      </div>
    </dialog>
  </div>
</section>
