<!-- Štatistika -->
<h2 class="stats-heading">Podľa stavu riešenia</h2>
<div class="wrapper-statistics">
  <div class="statistics-con">
    <% if @search_results.stats[:by_state].value.count > 1 %>
      <div class="statistics-block total">
        <div class="general-value-con">
          <div class="general-title-con">
            <div class="general-title">Spolu</div>
            <div class="statistics-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <polyline points="2 18 8.67 8.9 15.33 14.62 22 6" fill="none" stroke-miterlimit="10" stroke-width="1.5"/>
                <circle cx="22" cy="6" r="2" stroke="none"/>
                <circle cx="15.33" cy="14.62" r="2" stroke="none"/>
                <circle cx="8.67" cy="8.9" r="2" stroke="none"/>
                <circle cx="2" cy="18" r="2" stroke="none"/>
              </svg>
            </div>
          </div>
          <div class="general-value"><%= @search_results.stats[:by_state].value.values.sum %></div>
        </div>
        <!--<div class="secondary-value-wrapper">
          <div class="secondary-value-con">
            <div class="secondary-title">Nitra</div>
            <div class="secondary-value">450</div>
          </div>
          <div class="secondary-value-con">
            <div class="secondary-title">Iný subjekt</div>
            <div class="secondary-value">205</div>
          </div>
        </div>
        -->
      </div>
    <% end %>

    <% @search_results.stats[:by_state].value.each do |status, count| %>
      <div class="statistics-block state-<%= status.name.parameterize %>">
        <div class="general-value-con">
          <div class="general-title-con">
            <div class="general-title"><%= link_to status.name, search_issues_path(stav: status.name, tab: :list) %></div>
            <div class="statistics-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <polyline points="2 18 8.67 8.9 15.33 14.62 22 6" fill="none" stroke-miterlimit="10" stroke-width="1.5"/>
                <circle cx="22" cy="6" r="2" stroke="none"/>
                <circle cx="15.33" cy="14.62" r="2" stroke="none"/>
                <circle cx="8.67" cy="8.9" r="2" stroke="none"/>
                <circle cx="2" cy="18" r="2" stroke="none"/>
              </svg>
            </div>
          </div>
          <div class="general-value"><%= count %></div>
        </div>
        <!--<div class="secondary-value-wrapper">
          <div class="secondary-value-con">
            <div class="secondary-title">Nitra</div>
            <div class="secondary-value">450</div>
          </div>
          <div class="secondary-value-con">
            <div class="secondary-title">Iný subjekt</div>
            <div class="secondary-value">205</div>
          </div>
        </div>
        -->
      </div>
    <% end %>
  </div>
</div>


<h2 class="stats-heading">Podľa kategórie</h2>
<div class="wrapper-statistics">
  <div class="statistics-con">
    <% @search_results.stats[:by_category].value.each do |category, count| %>
      <div class="statistics-block statistics-block-category-<%= category.name.parameterize %>">
        <div class="general-value-con">
          <div class="general-title-con">
            <div class="general-title"><%= link_to category.name, search_issues_path(kategoria: category.name, tab: :list) %></div>
            <div class="statistics-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <polyline points="2 18 8.67 8.9 15.33 14.62 22 6" fill="none" stroke-miterlimit="10" stroke-width="1.5"/>
                <circle cx="22" cy="6" r="2" stroke="none"/>
                <circle cx="15.33" cy="14.62" r="2" stroke="none"/>
                <circle cx="8.67" cy="8.9" r="2" stroke="none"/>
                <circle cx="2" cy="18" r="2" stroke="none"/>
              </svg>
            </div>
          </div>
          <div class="general-value"><%= count %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h2 class="stats-heading">Podľa zodpovedného subjektu</h2>
<div class="wrapper-statistics">
  <div class="statistics-con">
    <% @search_results.stats[:by_responsible_subject].value.each do |responsible_subject, count| %>
      <div class="statistics-block statistics-block-undefined">
        <div class="general-value-con">
          <div class="general-title-con">
            <div class="general-title"><%= link_to responsible_subject.subject_name, search_issues_path(zodpovedny: responsible_subject.subject_name, tab: :list) %></div>
            <div class="statistics-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <polyline points="2 18 8.67 8.9 15.33 14.62 22 6" fill="none" stroke-miterlimit="10" stroke-width="1.5"/>
                <circle cx="22" cy="6" r="2" stroke="none"/>
                <circle cx="15.33" cy="14.62" r="2" stroke="none"/>
                <circle cx="8.67" cy="8.9" r="2" stroke="none"/>
                <circle cx="2" cy="18" r="2" stroke="none"/>
              </svg>
            </div>
          </div>
          <div class="general-value"><%= count %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
