<%= turbo_frame_tag @issue, :edit do %>
  <div class="podnet-esential">
    <%= form_with model: @issue, multipart: true, class: "podnet-edit" do |f| %>
      <div class="form-item-wrapper">
        <%= f.label :title %>
        <%= f.text_field :title, data: { controller: "autofocus", autofocus_target: "input" } %>
        <% @issue.errors[:title].each do |error| %>
          <div class="error-message"><%= error %></div>
        <% end %>
      </div>
      <div class="form-item-wrapper">
        <%= f.label :description %>
        <%= f.textarea :description %>
        <% @issue.errors[:description].each do |error| %>
          <div class="error-message"><%= error %></div>
        <% end %>
      </div>
      <%= f.submit "Uložiť zmeny", class: "button" %>
    <% end %>
  </div>
<% end %>
