<% content_for :title, @issue.title %>

<section class="podnet">
  <div class="podnet-con">
    <!-- Podnet Description & Pictures -->
    <%= turbo_frame_tag @issue, :edit do %>
      <div class="podnet-esential">
        <h1><%= @issue.title %></h1>
        <div class="podnet-description prose">
          <%= simple_format @issue.description %>
        </div>
        <div class="podnet-pictures-con">
          <figure class="big-picture">
            <div class="lens-image">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                <path d="M38,36.59l-10.02-10.02c2.49-2.82,4.02-6.52,4.02-10.57C32,7.18,24.82,0,16,0S0,7.18,0,16s7.18,16,16,16c4.05,0,7.75-1.53,10.57-4.02l10.02,10.02,1.41-1.41ZM16,30c-7.72,0-14-6.28-14-14S8.28,2,16,2s14,6.28,14,14-6.28,14-14,14Z"/>
                <polygon points="23 15 17 15 17 9 15 9 15 15 9 15 9 17 15 17 15 23 17 23 17 17 23 17 23 15"/>
              </svg>
            </div>
            <picture>
              <%= image_tag @issue.photos.first.variant(:normal) if @issue.photos.attached? %>
            </picture>
          </figure>
          <% if @issue.photos.count > 1 %>
            <% @issue.photos[1..].each do |photo| %>
              <figure class="small-picture">
                <div class="lens-image">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                    <path d="M38,36.59l-10.02-10.02c2.49-2.82,4.02-6.52,4.02-10.57C32,7.18,24.82,0,16,0S0,7.18,0,16s7.18,16,16,16c4.05,0,7.75-1.53,10.57-4.02l10.02,10.02,1.41-1.41ZM16,30c-7.72,0-14-6.28-14-14S8.28,2,16,2s14,6.28,14,14-6.28,14-14,14Z"/>
                    <polygon points="23 15 17 15 17 9 15 9 15 15 9 15 9 17 15 17 15 23 17 23 17 17 23 17 23 15"/>
                  </svg>
                </div>
                <picture>
                  <%= image_tag photo.variant(:thumb) %>
                </picture>
              </figure>
            <% end %>
          <% end %>
        </div>

        <div class="share-buttons">
          <% if logged_in? && current_user.can_edit?(@issue) %>
            <%= button_to "Upraviť", edit_issue_path(@issue), method: :get, class: "button button-transparent button-edit" %>
          <% end %>
          <%= render partial: "issue_subscriptions/button" %>
          <%= render partial: "issue_likes/button" %>

          <% unless @issue.editable? %>
            <a class="button button-transparent button-share-mobile" data-action="webshare#share" data-controller="webshare" data-webshare-supported-class="button-share-supported" data-webshare-title-value="<%= @issue.title %>" data-webshare-text-value="Pozrite si tento podnet" data-webshare-url-value="<%= issue_url(@issue) %>">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <polygon points="14.35 4.35 10 0 5.65 4.35 6.71 5.41 9.25 2.87 9.25 11.86 10.75 11.86 10.75 2.87 13.29 5.41 14.35 4.35"/>
                <path d="M16.55,20H3.45c-1.9,0-3.45-1.55-3.45-3.45v-6.3h1.5v6.3c0,1.08.88,1.95,1.95,1.95h13.1c1.08,0,1.95-.88,1.95-1.95v-6.3h1.5v6.3c0,1.9-1.55,3.45-3.45,3.45Z"/>
              </svg>
              <span>Zdielať</span>
            </a>

            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{issue_url(@issue)}", target: '_blank', class: "button button-transparent button-share-desktop" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <polygon points="14.35 4.35 10 0 5.65 4.35 6.71 5.41 9.25 2.87 9.25 11.86 10.75 11.86 10.75 2.87 13.29 5.41 14.35 4.35"/>
                <path d="M16.55,20H3.45c-1.9,0-3.45-1.55-3.45-3.45v-6.3h1.5v6.3c0,1.08.88,1.95,1.95,1.95h13.1c1.08,0,1.95-.88,1.95-1.95v-6.3h1.5v6.3c0,1.9-1.55,3.45-3.45,3.45Z"/>
              </svg>
              <span>Facebook</span>
            <% end %>

            <%= link_to "https://x.com/intent/tweet?url=#{issue_url(@issue)}", target: '_blank', class: "button button-transparent button-share-desktop" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <polygon points="14.35 4.35 10 0 5.65 4.35 6.71 5.41 9.25 2.87 9.25 11.86 10.75 11.86 10.75 2.87 13.29 5.41 14.35 4.35"/>
                <path d="M16.55,20H3.45c-1.9,0-3.45-1.55-3.45-3.45v-6.3h1.5v6.3c0,1.08.88,1.95,1.95,1.95h13.1c1.08,0,1.95-.88,1.95-1.95v-6.3h1.5v6.3c0,1.9-1.55,3.45-3.45,3.45Z"/>
              </svg>
              <span>Twitter/X</span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- Podnet Information -->
    <div class="podnet-information-con">
      <div class="podnet-information">
        <div class="information-wrapper">
          <div class="label">Stav riešenia podnetu:</div>
          <div class="button button-status state-<%= @issue.state.name.parameterize %>"><%= @issue.state.name %></div>
        </div>

        <div class="information-wrapper">
          <div class="label">Podnet podal:</div>
          <%= link_to @issue.author do %>
            <div class="subject-con">
              <figure>
                <picture>
                  <%= image_tag "ops-avatar-blue.png", alt: "" %>
                </picture>
              </figure>
              <div class="name"><%= @issue.author.display_name %></div>
            </div>
          <% end %>
        </div>

        <div class="information-wrapper">
          <div class="label">Dátum:</div>
          <div class="value"><%= l @issue.created_at.to_date, format: :long %></div>
        </div>

        <div class="information-wrapper">
          <div class="label">ID:</div>
          <div class="value">#<%= @issue.id %>
            <% if @issue.legacy_id %> <span class="value-old" title="Staré ID">(#<%= @issue.legacy_id %>)
            <% end %></span></div>
        </div>

        <div class="information-wrapper">
          <div class="label">Kategórie:</div>
          <div class="value-con">
            <%= link_to @issue.category.name, issues_path(kategoria: @issue.category.name), class: "value" %>
            <%= link_to @issue.subcategory.name, issues_path(kategoria: @issue.category.name, podkategoria: @issue.subcategory.name), class: "value" %>
            <% if @issue.subtype.present? %><%= link_to @issue.subtype.name, issues_path(kategoria: @issue.category.name, podkategoria: @issue.subcategory.name, typ: @issue.subtype.name), class: "value" %>
            <% end %>
          </div>
        </div>

        <div class="information-wrapper">
          <div class="label">Zodpovedný:</div>
          <div class="value-con">
            <% if @issue.responsible_subject.present? %>
              <%= link_to @issue.responsible_subject.subject_name, issues_path(zodpovedny: @issue.responsible_subject.subject_name), class: "value" %>
            <% else %>
              <span class="value">Nikto</span>
            <% end %>
          </div>
        </div>

        <div class="information-wrapper">
          <div class="label">Poloha:</div>
          <div class="value-con">
            <%= link_to @issue.address_street, issues_path(ulica: @issue.address_street, cast: @issue.municipality_district&.name, obec: @issue.municipality&.name), class: "value" %>
            <% if @issue.municipality_district %><%= link_to @issue.municipality_district.name, issues_path(cast: @issue.municipality_district.name, obec: @issue.municipality.name), class: "value" %>
            <% end %>
            <%= link_to @issue.municipality.name, issues_path(obec: @issue.municipality.name), class: "value" %>
          </div>
          <div class="map" data-controller="map" data-map-latitude-value="<%= @issue.latitude %>" data-map-longitude-value="<%= @issue.longitude %>">
            <div data-map-target="map"></div>
          </div>
        </div>

      </div>
    </div>
    <!-- Discussion -->
    <div class="podnet-discussion">
      <div class="podnet-discussion-con">
        <div class="podnet-discussion-wrapper">
          <h1>Diskusia</h1>
          <!--<button class="button button-transparent">
            <span>Zoradiť</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </button>-->
        </div>
        <%= turbo_frame_tag "activities", class: 'comment-con' do %>
          <%= render @activity_objects %>
          <% if @activity_objects.empty? %>
            <div class="be-first-comment-notice">Buďte prvý kto overí podnet alebo napíše komentár!</div>
          <% end %>
        <% end %>

        <% if logged_in? %>
          <%= render partial: "issues/new_issue_activity_buttons" %>
        <% else %>
          <div class="no-login-notice-con">
            <div class="no-login-notice">Chcete pridať komentár alebo overiť podnet? Prihláste sa!</div>
            <div class="no-login-notice-buttons-con">
              <div class="login-con">
                <%= link_to "Prihlásiť", rodauth.login_path, class: "button", data: { turbo_frame: "_top" } %>
              </div>
              <div class="registration-con">
                <div class="registration-notice">Ešte nemáte účet?</div>
                <%= link_to "Vytvoriť účet", rodauth.create_account_path, class: "button button-transparent", data: { turbo_frame: "_top" } %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</section>
