<div id="<%= dom_id backoffice_client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= backoffice_client.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= backoffice_client.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Api token public key:</strong>
    <%= backoffice_client.api_token_public_key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Webhook secret:</strong>
    <%= backoffice_client.webhook_private_key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Responsible subject identifier:</strong>
    <%= backoffice_client.responsible_subject_zammad_identifier %>
  </p>
</div>
