<%= ops_title "Podnet si vyžaduje Vašu pozornosť" %>
<p class="ops-email-paragraph">
  <% if @issue.author == @user %>
    Dobrý deň, pri Vašom podnete <%= ops_issue_link @issue %> sú potrebné doplňujúce informácie, aby sa mohlo pokračovať v jeho riešení.
  <% else %>
    Dobrý deň, status podnetu <%= ops_issue_link @issue %>, ktorý sledujete, bol zmenený na <b>Čaká na autora</b>.
  <% end %>
</p>

<p class="ops-email-paragraph">
  <% if @issue.author == @user %>
    Prečítajte si prosím najnovšiu správu v <b><%= link_to "detaile podnetu", issue_url(@issue), class: "ops-email-link", target: "_blank" %></b> a doplňte požadované údaje.
  <% else %>
    Viac informácií nájdete v <b><%= link_to "detaile podnetu", issue_url(@issue), class: "ops-email-link", target: "_blank" %></b>.
  <% end %>
</p>

<p class="ops-email-paragraph">
  <%= ops_button "Reagovať na nový status", "#{issue_url(@issue)}#new_issue_activity" %>
</p>

<%= render "signature" %>
<%= render "unsubscribe" %>
