<%= ops_title "Nový komentár" %>
<p class="ops-email-paragraph">
  K podnetu <%= ops_issue_link @issue %> pribudol nový komentár.
</p>
<p class="ops-email-paragraph">
  <b><%= @comment.author_display_name %></b> napísal/a:
</p>
<%= simple_format(@comment.text, { class: "ops-email-paragraph" }) %>
<p class="ops-email-paragraph">
  <%= ops_button "Reagovať na komentár", "#{issue_url(@issue)}#new_issue_activity" %>
</p>
<%= render "unsubscribe" %>
