<%= ops_title "Vaša pochvala bola akceptovaná" %>
<p class="ops-email-paragraph">
  Dobrý deň, s radosťou Vám oznamujeme, že Vaša pochvala <%= ops_issue_link @issue %>, ktorú ste pridali <b><%= @issue.created_at.strftime("%d.%m.%Y") %></b> na portál Odkaz pre starostu, bola schválená a preposlaná príslušným adresátom.
</p>
<p class="ops-email-paragraph">
  Ďakujeme za Vašu spoluprácu.
</p>
<%= render "signature" %>
<%= render "unsubscribe" %>
<%= render "share" %>
<%= render "support_us" %>
<%= render "newsletter_subscribe" %>
