<section class="report" data-controller="geo">
  <%= link_to edit_issues_draft_path(@draft), class: "button-back" do %>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
        <path d="M1,19l9-9L1,1" fill="none" stroke-width="2"/>
      </svg>
    </span>
    <span>Späť</span>
  <% end %>

  <h1>Urči miesto podnetu</h1>

  <% if @draft.latlon_from_exif? %>
    <div class="report-suggestion-description">Na lokalizovanie miesta podnetu bola použitá geolokácia z fotografie. Ak nie je
      určenie polohy správne, použite prosím vyhľadávanie alebo mapu nižšie.
    </div>
  <% end %>
  <!-- Mapa -->
  <div class="report-map-con">

    <div class="search-con">
      <form action="" data-action="submit->geo#search">
        <button>
          <svg viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="7.77818" cy="8.27818" r="6.77818"/>
            <path d="M13 13.5L18 18.5"/>
          </svg>
        </button>
        <input type="search" placeholder="Napíš adresu" data-geo-target="search">
      </form>
    </div>

    <div class="report-map">
      <div class="issues-draft-map" data-geo-target="map">
        <div class="issues-draft-map-pointer">&#8982;</div>
      </div>
    </div>
  </div>

  <%= form_with(model: @draft, url: issues_draft_geo_path(@draft, next: params[:next])) do |form| %>
    <%= form.hidden_field :latitude, data: { "geo-target": :latitude } %>
    <%= form.hidden_field :longitude, data: { "geo-target": :longitude } %>
    <%= form.hidden_field :address_json, data: { "geo-target": "addressJSON" } %>
    <%= form.submit "Ďalej", class: "button" %>
  <% end %>
</section>
