<div data-intercept-target="anchor"></div>
<header data-intercept-target="interceptable">

  <!-- Navigation -->
  <nav>
    <div class="nav-wrapper">
      <div class="nav-con-up">
        <div class="nav-con-head">
          <a href="/" title="Choď na titulnú stránku" class="nav-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 573 200">
              <path d="M.98,59.2c0-20.87,11.23-33.69,31.86-33.69s31.74,12.82,31.74,33.69-10.99,33.57-31.74,33.57S.98,79.96.98,59.2ZM47.12,59.2c0-13.67-4.03-20.63-14.28-20.63s-14.28,6.96-14.28,20.63,3.91,20.51,14.28,20.51,14.28-6.96,14.28-20.51Z"/>
              <path d="M119.99,0h17.21v91.55h-11.11l-5.49-16.6c-4.27,11.72-12.45,17.82-22.71,17.82-15.63,0-24.78-13.55-24.78-33.57s9.16-33.69,24.78-33.69c9.64,0,17.7,5.62,22.09,16.72V0ZM119.99,68.36v-18.19c-4.03-8.18-9.77-11.6-15.26-11.6-9.16,0-14.04,7.45-14.04,20.63s5,20.51,14.04,20.51c5.62,0,11.23-3.3,15.26-11.35Z"/>
              <path d="M197.5,91.55l-16.85-28.56-10.62,10.86v17.7h-17.58V0h17.58v56.15l26.86-29.42h19.29l-24.54,25.02,25.27,39.8h-19.41Z"/>
              <path d="M289.18,89.85c-2.2,1.83-7.57,2.81-11.72,2.81-10.74,0-17.33-6.59-17.58-16.97-3.54,12.09-13.92,17.09-22.58,17.09-11.11,0-18.19-5.98-18.19-16.11,0-15.63,16.85-21.24,40.77-19.29v-7.2c0-7.57-3.66-12.09-10.99-12.09-8.91,0-12.45,5.62-12.33,15.26l-15.99-5.25c1.46-14.04,10.86-22.58,28.56-22.58,19.41,0,28.08,9.4,28.08,24.66v23.93c0,3.17,1.47,4.88,4.03,4.88,1.71,0,4.27-1.34,5.86-3.42l2.08,14.28ZM259.88,71.78v-6.96c-14.41-1.47-24.54,1.59-24.54,8.91,0,3.91,3.42,6.47,9.16,6.47s11.96-2.69,15.38-8.42Z"/>
              <path d="M316.27,78.98h33.81v12.57h-54.93v-12.94l33.81-39.19h-33.81v-12.7h53.71v14.04l-32.59,38.21Z"/>

              <path d="M0,179.25l15.5-3.54c.24,8.67,6.59,12.57,15.38,12.57,6.1,0,10.01-2.44,10.01-6.35,0-13.31-39.06-2.44-39.06-29.18,0-11.6,10.99-20.02,26.12-20.02,16.48,0,26.61,6.96,27.71,20.02l-14.89,3.91c-.49-9.77-7.08-12.09-13.43-12.09-5.98,0-9.89,2.56-9.89,6.59,0,14.53,39.19,3.05,39.19,29.05,0,11.47-11.23,19.78-26.61,19.78-17.46,0-28.69-7.32-30.03-20.75Z"/>
              <path d="M112.79,180.71l-.73,15.38c-3.3,2.32-8.91,3.91-14.53,3.91-15.26,0-23.56-7.69-23.56-22.71v-30.52h-12.94v-12.82h12.94v-19.04h17.58v19.04h19.9v12.82h-19.9v31.01c0,6.35,2.2,9.28,7.2,9.28,3.66,0,8.54-2.08,14.04-6.35Z"/>
              <path d="M189.33,197.07c-2.2,1.83-7.57,2.81-11.72,2.81-10.74,0-17.33-6.59-17.58-16.97-3.54,12.09-13.92,17.09-22.58,17.09-11.11,0-18.19-5.98-18.19-16.11,0-15.63,16.85-21.24,40.77-19.29v-7.2c0-7.57-3.66-12.08-10.99-12.08-8.91,0-12.45,5.62-12.33,15.26l-15.99-5.25c1.46-14.04,10.86-22.58,28.56-22.58,19.41,0,28.08,9.4,28.08,24.66v23.93c0,3.17,1.47,4.88,4.03,4.88,1.71,0,4.27-1.34,5.86-3.42l2.08,14.28ZM160.03,179v-6.96c-14.41-1.46-24.54,1.59-24.54,8.91,0,3.91,3.42,6.47,9.16,6.47s11.96-2.69,15.38-8.42Z"/>
              <path d="M245.97,148.73c0,6.35-1.71,13.92-4.52,21.61h-18.31c2.93-6.1,5.37-13.18,5.37-18.07,0-3.54-1.22-5.98-4.52-5.98-3.78,0-7.45,3.17-10.25,15.26v37.23h-17.58v-64.82h11.35l4.88,19.29c3.54-14.16,10.86-20.51,20.26-20.51s13.31,6.59,13.31,15.99Z"/>
              <path d="M252.8,166.43c0-20.87,11.23-33.69,31.86-33.69s31.74,12.82,31.74,33.69-10.99,33.57-31.74,33.57-31.86-12.82-31.86-33.57ZM298.94,166.43c0-13.67-4.03-20.63-14.28-20.63s-14.28,6.96-14.28,20.63,3.91,20.51,14.28,20.51,14.28-6.96,14.28-20.51Z"/>
              <path d="M436.63,180.71l-.73,15.38c-3.3,2.32-8.91,3.91-14.53,3.91-15.26,0-23.56-7.69-23.56-22.71v-30.52h-12.94v-12.82h12.94v-19.04h17.58v19.04h19.9v12.82h-19.9v31.01c0,6.35,2.2,9.28,7.2,9.28,3.66,0,8.54-2.08,14.04-6.35Z"/>
              <path d="M489,133.96h17.58v64.82h-13.31l-3.66-19.65c-3.17,11.35-10.74,20.87-24.05,20.87-11.72,0-19.29-7.69-19.29-21.85v-44.19h17.46v39.8c0,7.81,3.78,11.96,10.25,11.96,7.2,0,12.21-5.13,15.01-11.11v-40.65Z"/>
              <path d="M341.3,151.17c0-4.03,3.91-6.59,9.89-6.59,6.35,0,12.94,2.32,13.43,12.09l14.89-3.91c-.44-5.25-2.37-9.5-5.55-12.72-1.87,1.18-4.08,1.85-6.51,1.89-.17,0-.33.01-.5.01-3.5,0-6.83-1.51-9.12-4.14-1.26-1.44-2.12-3.13-2.57-4.94-1.12-.07-2.26-.12-3.45-.12-15.14,0-26.12,8.42-26.12,20.02,0,26.73,39.06,15.87,39.06,29.18,0,3.91-3.91,6.35-10.01,6.35-8.79,0-15.14-3.91-15.38-12.57l-15.5,3.54c1.34,13.43,12.57,20.75,30.03,20.75,15.38,0,26.61-8.3,26.61-19.78,0-26-39.19-14.53-39.19-29.05Z"/>
              <path class="hand" d="M395.43,26.09c-1.02,4.41-2.54,10.86-4.41,18.83,8.65-14.76,19.51-28.5,29.35-28.5,9.16,0,12.39,10.01,12.39,18.32,0,10.52-3.73,24.6-10.01,35.46,5.6-3.73,12.05-9.33,19.17-17.98,4.92-5.6,12.05,1.53,7.8,6.45-20.87,24.94-38.34,29.01-49.54,29.01-5.6,0-11.03-2.71-15.27-7.47-3.73,10.01-6.45,20.02-8.65,30.2-.85,4.41-1.7,8.48-2.38,12.21-.51,2.54-1.02,5.26-1.36,7.81-.68,2.88-2.72,4.07-5.09,4.07-2.72.17-5.6-2.04-5.09-5.77,5.09-28.84,18.83-86.7,23.24-104.85,1.36-6.62,11.71-4.07,9.84,2.21ZM400.18,77.49c8.82,0,22.4-23.75,22.4-42.75,0-4.41-1.19-7.63-3.05-7.63-5.6,0-21.89,23.58-30.71,43.09,1.02.34,2.04,1.02,2.71,2.04,2.54,3.39,6.28,5.26,8.65,5.26Z"/>
              <path class="hand" d="M451.93,37.62c-2.38-2.2-3.73-5.09-3.73-8.65,0-8.82,5.6-19.51,12.72-19.51,4.92,0,7.3,3.9,7.3,8.99,0,3.73-.85,8.14-2.54,13.06,2.71,0,5.94-.17,8.48-.51,7.63-1.02,9.67,3.9,8.48,8.48-2.88,11.37-7.13,26.81-7.13,33.42,0,4.07-1.36,3.22-.51,3.05l.34-.17c2.04,0,9.5-3.39,25.96-23.58,4.07-5.09,12.05,1.36,7.81,6.45-16.29,20.19-25.96,27.31-33.76,27.31-6.62,0-10.01-5.6-10.01-13.06,0-8.31,3.39-20.7,6.28-31.39-3.73.34-7.3.34-10.35-.17-2.88,5.43-6.62,11.2-11.54,17.31-4.07,5.09-12.05-1.36-7.81-6.45,4.24-5.09,7.63-10.01,10.01-14.59Z"/>
              <path class="hand" d="M527.77,22.18h.17l.17-.17c2.38-1.53,4.75-2.71,7.13-3.39.34,0,.51-.17.68-.17h.17c.17,0,.34-.17.51-.17h.68s.17-.17.34-.17h.34c.34,0,.68,0,.34,0h.68c9.67,0,13.74,7.8,13.74,14.93,0,16.46-13.74,28.84-29.52,32.91-2.38.68-5.09,1.02-7.81,1.19.51,8.31,4.41,11.2,10.18,11.2,9.67,0,22.06-7.63,38-26.13,4.41-5.26,12.05,1.7,7.8,6.45-16.63,19.51-30.03,29.86-45.81,29.86-12.55,0-20.36-8.65-20.36-22.73,0-1.7.17-3.39.34-5.26-3.73.17-7.47-4.58-4.24-8.31,7.13-8.48,16.46-22.9,26.47-30.03ZM538.63,28.29c-2.04.34-5.09,2.54-8.48,6.11-5.26,5.6-10.69,14.08-13.23,22.39,1.19-.17,2.54-.34,3.9-.68,10.35-2.72,21.89-13.4,21.89-23.07,0-2.71-1.02-4.75-3.73-4.75h-.34Z"/>
            </svg>
          </a>
          <div class="nav-wrap-head open-nav">
            <a class="menu-button-close" data-action="navigation#close">
              <span></span>
              <span></span>
            </a>
            <% if logged_in? %>
              <%= link_to profile_path, class: "account" do %>
                <figure>
                  <picture>
                    <%= image_tag "muz.jpg" %>
                  </picture>
                </figure>
                <div class="name"><%= current_user.firstname %></div>
                <div class="arrow"></div>
              <% end %>
            <% end %>

            <div class="mobile-buttons-nav">
              <%= link_to "Nahlásiť podnet", new_issues_draft_path %>
              <%= link_to "Položiť otázku", new_question_path %>
              <%= link_to "Dať pochvalu", new_praise_path %>
            </div>

            <%= link_to "Nahlásené dopyty", issues_path %>
            <%= link_to 'Aktuality', '/aktuality' %>
            <%= link_to "Pravidlá", "/pravidla" %>
            <%= link_to "Pridajte sa", "/pridajte-sa" %>
            <%= link_to "O nás", "/o-nas" %>
            <%= link_to "Podporte nás", "/podporte-nas" %>
          </div>
        </div>
        <div class="buttons-con">
          <%= link_to "Nahlásiť podnet", new_issues_draft_path, class: "add-button" %>
          <%= link_to issues_path, class: "icon search" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <circle cx="10.5" cy="10.5" r="6.5" fill="none" stroke-miterlimit="10"/>
              <path d="M15,15l5,5" fill="none" stroke-miterlimit="10"/>
            </svg>
          <% end %>
          <% if logged_in? %>
            <%= link_to profile_path, class: "icon login" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle cx="12" cy="8" r="4" fill="none"/>
                <path d="M19,21v-1c0-2.21-1.79-4-4-4h-6c-2.21,0-4,1.79-4,4v1" fill="none"/>
              </svg>
              <span class="logged"><%= current_user.firstname %> <%= current_user.lastname %></span>
            <% end %>
          <% else %>
            <%= link_to rodauth.login_path, class: "icon login" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle cx="12" cy="8" r="4" fill="none"/>
                <path d="M19,21v-1c0-2.21-1.79-4-4-4h-6c-2.21,0-4,1.79-4,4v1" fill="none"/>
              </svg>
              <span class="logged">Prihlásiť</span>
            <% end %>
          <% end %>
          <a class="menu-button" data-action="navigation#open">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <!--
          <div class="language not-implemented">
            <div>sk</div>
            <div class="dropdown-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 7">
                <polygon points="5.5 6.78 0 1.28 1.05 .22 5.5 4.67 9.95 .22 11 1.28 5.5 6.78"/>
              </svg>
            </div>
            <ul class="dropdown">
              <li><div>en</div></li>
              <li><div>hu</div></li>
            </ul>

          </div>
          -->
        </div>
      </div>
    </div>



    <div class="nav-wrap-main">
      <div class="nav-con-main">
        <%= link_to "Nahlásiť&nbsp;podnet".html_safe, new_issues_draft_path, class: "button-main" %>
        <%= link_to "Položit&nbsp;otázku".html_safe, new_question_path %>
        <%= link_to "Dať&nbsp;pochvalu".html_safe, new_praise_path %>
        <div class="search-con">
          <%= form_tag issues_path, method: :get do %>
            <% if @search_results %>
              <% @search_results.search_params.except(:q).each do |k, v| %>
                <%= hidden_field_tag k, v %>
              <% end %>
            <% end %>
            <button>
              <svg viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.77818" cy="8.27818" r="6.77818"/>
                <path d="M13 13.5L18 18.5"/>
              </svg>
            </button>
            <%= search_field_tag :q, params[:q], id: nil, placeholder: "Hľadaj obec alebo kľúčové slovo" %>
          <% end %>
        </div>
      </div>
    </div>

  </nav>

</header>