<div id="<%= dom_id api_integration %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= api_integration.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= api_integration.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Api token public key:</strong>
    <%= api_integration.api_token_public_key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Webhook secret:</strong>
    <%= api_integration.webhook_private_key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Responsible subject identifier:</strong>
    <%= api_integration.responsible_subject_zammad_identifier %>
  </p>
</div>
