<h1>Popis podnetu</h1>
<% if suggestions.any? %>
  <div class="report-suggestion-description">
    Z fotografie sme automaticky vytvorili popisy podnetu. Vyberte si jeden z nich alebo napíšte vlastný. Popis bude ešte možné upraviť.
  </div>
<% end %>

<div class="report-summary-block-con">
  <% suggestions.each_with_index do |suggestion, idx| %>
    <%= button_to issues_draft_suggestions_path(@draft, next: params[:next]), method: :patch, class: 'button-report-summary' do %>
      <%= hidden_field_tag 'issues_draft[picked_suggestion_index]', idx %>
      <div class="report-summary-wrapper">
        <div class="title"><%= suggestion['title'] %></div>
        <div class="description"><%= simple_format(suggestion['description']) %></div>
        <div class="labels-con">
          <div class="label"><%= suggestion["category"] %></div>
          <div class="label"><%= suggestion["subcategory"] %></div>
          <% if suggestion["subtype"] %>
            <div class="label"><%= suggestion["subtype"] %></div>
          <% end %>
        </div>
      </div>

      <div class="icon-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <path d="M1,19l9-9L1,1" fill="none" stroke="#1c3054" stroke-width="2"/>
        </svg>
      </div>
    <% end %>
  <% end %>

  <%= button_to issues_draft_suggestions_path(@draft, next: params[:next]), method: :patch, class: 'button-report-summary' do %>
    <%= hidden_field_tag 'issues_draft[picked_suggestion_index]', -1 %>
    <div class="report-summary-wrapper">
      <div class="title">Vlastný nadpis podnetu</div>
      <div class="description">Vlastný dlhší opis problému, ktorý nahlasujem.</div>
    </div>

    <div class="icon-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
        <path d="M1,19l9-9L1,1" fill="none" stroke="#1c3054" stroke-width="2"/>
      </svg>
    </div>
  <% end %>
</div>
