<% comment = change %>
<%= turbo_frame_tag comment do %>
  <div class="<%= class_names("comment", government: true) %>" id="komentar_<%= comment.id %>">
    <div class="comment-header">
      <div class="subject">
        <%= link_to_comment_author_profile(comment) %>
      </div>
    </div>
    <div class="date"><%= l comment.created_at.to_date %></div>
    <% if comment.text.present? %>
      <div class="comment-content">
        <%= simple_format(comment.text) %>
      </div>
    <% end %>

    <div class="like-dislike-confirm-con">
      <%= render partial: "issues/activity_votes/buttons", locals: { activity: comment.activity } %>
      <!--    <a class="button-confirm">-->
      <!--      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 20 20">-->
      <!--        <path d="M10,20C4.49,20,0,15.51,0,10S4.49,0,10,0s10,4.49,10,10-4.49,10-10,10ZM10,1.46C5.29,1.46,1.46,5.29,1.46,10s3.83,8.54,8.54,8.54,8.54-3.83,8.54-8.54S14.71,1.46,10,1.46Z"/>-->
      <!--        <path d="M10,11.59c-.4,0-.73-.33-.73-.73v-5.85c0-.4.33-.73.73-.73s.73.33.73.73v5.85c0,.4-.33.73-.73.73Z"/>-->
      <!--        <circle cx="10" cy="14.02" r=".98"/>-->
      <!--      </svg>-->
      <!--      <span>Nahlásiť komentár</span>-->
      <!--    </a>-->
    </div>
  </div>
<% end %>