<section class="report">
  <%= link_to @draft.subtype ? issues_draft_subtype_path(@draft) : issues_draft_subcategory_path(@draft), class: 'button-back' do %>
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
					<path d="M1,19l9-9L1,1" fill="none" stroke-width="2"/>
				</svg>
			</span>
    <span>Späť</span>
  <% end %>

  <h1>Popis podnetu</h1>

  <div class="report-suggestion-description">Vecne a čo najvýstižnejšie popíšte v čom spočíva problém.</div>

  <%= form_with(model: @draft, url: issues_draft_details_path(@draft)) do |form| %>
    <div class="report-summary-block-con">
      <div class="form-item-wrapper">
        <%= form.label :title, "Názov" %>
        <%= form.text_field :title, placeholder: "Sem napíš názov",
                            aria: ({ invalid: true, describedby: "title_error_message" } if @draft.errors[:title].any?) %>
        <%= content_tag(:span, @draft.errors[:title].first, class: "error-message", id: "title_error_message") if @draft.errors[:title].any? %>
      </div>
      <div class="form-item-wrapper">
        <%= form.label :description, "Popis" %>
        <%= form.text_area :description, placeholder: "Sem napíš popis",
                           aria: ({ invalid: true, describedby: "description_error_message" } if @draft.errors[:description].any?) %>
        <%= content_tag(:span, @draft.errors[:description].first, class: "error-message", id: "description_error_message") if @draft.errors[:description].any? %>
      </div>
    </div>

    <%= form.submit "Ďalej", class: "button" %>
  <% end %>

</section>
