<h1 class="font-bold text-4xl">Details</h1>

<%= form_with(model: @draft, class: "contents", url: issues_draft_details_path(@draft)) do |form| %>
  <% if @draft.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@draft.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% @draft.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 6, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <div class="grid md:grid-cols-3 gap-3">
      <div>
        <%= form.label :category %>
        <%= form.select :category_id, Issues::Category.all.map { |c| [c.name, c.id] }, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div>
        <%= form.label :subcategory %>
        <%= form.select :subcategory_id, @draft.category&.subcategories.map { |c| [c.name, c.id] }, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div>
        <%= form.label :subtype %>
        <%= form.select :subtype_id, @draft.subcategory&.subtypes.map { |c| [c.name, c.id] }, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    </div>
  </div>

  <div class="inline">
    <%= form.submit "Pokračovať", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

