<section class="report">
  <%= link_to @draft.subtype ? issues_draft_subtype_path(@draft) : issues_draft_subcategory_path(@draft), class: 'button-back' do %>
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
					<path d="M1,19l9-9L1,1" fill="none" stroke-width="2"/>
				</svg>
			</span>
    <span>Späť</span>
  <% end %>

	<% if @draft.municipality_errors? %>
		<%= render partial: 'issues/drafts/unsupported_municipality' %>
	<% end %>

  <h1>Popis podnetu</h1>

  <div class="report-suggestion-description">Jasne, vecne a&nbsp;slušne popíšte problém vo verejnom priestore. <strong>Nahlasujte naraz len jeden problém na jednom mieste.</strong></div>

  <%= form_with(model: @draft, url: issues_draft_details_path(@draft)) do |form| %>
    <div class="report-summary-block-con">
      <div class="form-item-wrapper">
        <%= form.label :title, "Názov" %>
        <%= form.text_field :title, placeholder: "Výstižný názov podnetu",
                            aria: ({ invalid: true, describedby: "title_error_message" } if @draft.errors[:title].any?) %>
        <% @draft.errors.full_messages_for(:title).each do |message| %>
					<div class="error-message"><%= message %></div>
				<% end %>
      </div>
      <div class="form-item-wrapper">
        <%= form.label :description, "Popis" %>
        <%= form.text_area :description, placeholder: "Slušný, vecný a dostatočne jasný opis problému.",
                           aria: ({ invalid: true, describedby: "description_error_message" } if @draft.errors[:description].any?) %>
				<% @draft.errors.full_messages_for(:description).each do |message| %>
					<div class="error-message"><%= message %></div>
				<% end %>
      </div>
    </div>

    <% if params[:next] == 'summary' %>
      <%= form.submit "Upraviť", class: "button" %>
    <% else %>
      <%= form.submit "Pokračovať", class: "button" %>
    <% end %>
  <% end %>

</section>
