<section class="report">
  <% if @previous_draft %>
    <div class="report-summary-block-con">
      <div class="report-warning">
        <div class="title">Máte neodoslaný podnet</div>
        <div class="description">Máte jeden rozpracovaný neodoslaný podnet. Chcete sa k nemu vrátiť alebo nahlásiť nový podnet?</div>
        <%= link_to "Zobraziť neodoslaný podnet", issues_draft_summary_path(@previous_draft), class: "button button-transparent" %>
      </div>
    </div>

    <div class="report-suggestion-description"></div>
  <% end %>

  <h1><%= t "issues/drafts.new_#{@draft.issue_type}" %></h1>

  <div class="report-suggestion-description">Nahrajte fotografiu k podnetu. Ak používate mobil, odporúčame zapnúť
    lokalizáciu GPS.
  </div>

  <% @draft.errors.full_messages_for(:photos).each do |msg| %>
    <div class="error-message error-summary"><%= msg %></div>
  <% end %>
  <div class="report-suggestion-add-pictures-con">
    <%= form_with(model: @draft, data: { controller: 'auto-submit' }) do |form| %>
      <%= form.hidden_field :issue_type %>
      <div class="report-suggestion-add-pictures-wrapper">
        <%= form.label :photos, class: "button-add-picture" do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
            <line y1="14" x2="28" y2="14" fill="none" stroke-miterlimit="10"/>
            <line x1="14" x2="14" y2="28" fill="none" stroke-miterlimit="10"/>
          </svg>
        <% end %>
        <div class="info-title">Nahrať fotku</div>
        <%= form.file_field :photos, multiple: true, accept: "capture=camera;image/*", class: 'sr-only', data: { action: 'auto-submit#submit' } %>
        <%= hidden_field_tag :next, params[:next] %>
      </div>
      <%= form.submit data: { "turbo_submits_with": "Nahrávam..." }, class: "sr-only" %>
    <% end %>

    <% if @draft.photos.attached? %>
      <div class="report-suggestion-pictures-block">
        <% if @draft.persisted? %>
          <% @draft.photos.each do |photo| %>
            <figure>
              <%= button_to issues_draft_destroy_photo_path(@draft, photo_id: photo.id, next: params[:next]), class: 'close-button', method: :delete, data: { 'turbo-confirm': 'Určite chcete túto fotku odstrániť?' } do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                  <polygon points="27.71 11.71 26.29 10.29 19 17.59 11.71 10.29 10.29 11.71 17.59 19 10.29 26.29 11.71 27.71 19 20.41 26.29 27.71 27.71 26.29 20.41 19 27.71 11.71"/>
                  <path d="M19,38C8.52,38,0,29.48,0,19S8.52,0,19,0s19,8.52,19,19-8.52,19-19,19ZM19,2C9.63,2,2,9.63,2,19s7.63,17,17,17,17-7.63,17-17S28.37,2,19,2Z"/>
                </svg>
              <% end %>
              <%= button_to issues_draft_rotate_photo_path(@draft, photo_id: photo.id, next: params[:next]), class: 'rotate-button', method: :patch do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                  <path d="M19,2c9.37,0,17,7.63,17,17s-7.63,17-17,17S2,28.37,2,19,9.63,2,19,2M19,0C8.51,0,0,8.51,0,19s8.51,19,19,19,19-8.51,19-19S29.49,0,19,0h0Z"></path>
                  <path d="M19,9c-4.74,0-8.71,3.31-9.73,7.74l-2.43-.38,2.94,4.04,4.04-2.94-2.57-.4c.87-3.47,4.01-6.05,7.75-6.05,4.41,0,8,3.59,8,8s-3.59,8-8,8v2c5.51,0,10-4.49,10-10s-4.49-10-10-10Z"></path>
                </svg>
              <% end %>
              <picture>
                <% image = photo.content_type.in?(UploadsController::ALLOWED_CONTENT_TYPES) ? photo.variant(:square) : 'otazka-znacka.png' %>
                <%= image_tag image, alt: "Uploaded photo" %>
              </picture>
            </figure>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="notice">Nahrajte fotografie, ktoré podnet najlepšie dokumentujú. Maximálna veľkosť: 7MB.
  </div>
  <% if @draft.valid?(:photos_step) %>
    <% if params[:next] == 'summary' %>
      <%= link_to 'Upraviť', issues_draft_summary_path(@draft), class: 'button' %>
    <% else %>
      <%= link_to 'Pokračovať', issues_draft_geo_path(@draft), class: 'button' %>
    <% end %>

  <% end %>
</section>
