<section class="forms-container report">
  <h1>Nová pochvala</h1>

  <%= form_with model: @praise, url: praises_path, method: :post do |form| %>
    <div class="form-other-con">
      <div class="form-description">Polia označené * sú povinné.</div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label :title, "Názov*" %>
          <%= form.text_field :title %>
          <% @praise.errors.full_messages_for(:title).each do |message| %>
            <span class="error-message"><%= message %></span>
          <% end %>
        </div>

        <div class="form-item-wrapper">
          <%= form.label :description, "Text pochvaly*" %>
          <%= form.text_area :description, placeholder: "Sem napíšte pochvalu" %>
          <% @praise.errors.full_messages_for(:description).each do |message| %>
            <span class="error-message"><%= message %></span>
          <% end %>
        </div>

        <div class="form-item-wrapper">
          <%= form.label :municipality_id, "Mesto alebo obec*" %>
          <%= form.collection_select :municipality_id, @municipalities, :id, :name, { prompt: "Vyberte" }, class: "dropdown-button" %>
          <% @praise.errors.full_messages_for(:municipality_id).each do |message| %>
            <span class="error-message"><%= message %></span>
          <% end %>
        </div>

        <div class="form-check-box-con form-check-box-con-start">
          <%= form.checkbox :praise_public, class: "form-check-box" %>
          <%= form.label :praise_public, "Chcem pochvalu zverejniť na portáli." %>
        </div>
      </div>

      <%= form.submit "Odoslať pochvalu", class: "button", data: { "turbo_submits_with": "Odosieľam..." } %>
    </div>
  <% end %>

</section>
