<% content_for(:title, rodauth.create_account_page_title) %>

<section class="forms-container report">
  <h1>Vytvoriť účet</h1>
  <%= form_with url: rodauth.create_account_path, method: :post, data: { turbo: false }, html: { novalidate: true } do |form| %>
    <div class="form-other-con">
      <div class="form-description">Polia označené * sú povinné.</div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label "login", "#{rodauth.login_label}*" %>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", require: true, aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "error-message", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
        </div>

        <% if rodauth.create_account_set_password? %>
          <div class="form-item-wrapper">
            <%= form.label "password", "#{rodauth.password_label}*" %>
            <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "error-message", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
          </div>

          <% if rodauth.require_password_confirmation? %>
            <div class="form-item-wrapper">
              <%= form.label "password-confirm", "#{rodauth.password_confirm_label}*" %>
              <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "error-message", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
            </div>
          <% end %>
        <% end %>

        <div class="form-item-wrapper">
          <%= form.label :firstname, "Meno*" %>
          <%= form.text_field :firstname, value: params["firstname"], id: "firstname", aria: ({ invalid: true, describedby: "firstname_error_message" } if rodauth.field_error("firstname")) %>
          <%= content_tag(:span, rodauth.field_error("firstname"), class: "error-message", id: "firstname_error_message") if rodauth.field_error("firstname") %>
        </div>
      </div>

      <div class="form-items-con">
        <div class="form-description">Chcete mať na portáli Odkaz pre starostu verejný profil?</div>

        <div class="form-radio-button-wrapper">
          <div class="form-radio-button-con">
            <%= form.radio_button :public_profile, "yes", checked: params[:public_profile].presence == "yes" || true %>
            <%= form.label :public_profile, "Áno", value: "yes" %>
          </div>
          <div class="form-radio-button-con">
            <%= form.radio_button :public_profile, "no", checked: params[:public_profile].presence == "no" %>
            <%= form.label :public_profile, "Nie", value: "no" %>
          </div>
        </div>

        <div class="form-notice">Verejný profil znamená, že na portáli Odkaz pre starostu bude verejne viditeľné vaše
          meno.
        </div>
      </div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label :municipality_id, "Preferované mesto alebo obec" %>

          <%= form.select :municipality_id,
                          options_for_select(
                            Municipality.where(active: true).order(:name).pluck(:name, :id),
                            params["municipality_id"]
                          ),
                          { include_blank: "" },
                          { id: "municipality_id", class: 'dropdown-button', aria: ({ invalid: true, describedby: "municipality_id_error_message" } if rodauth.field_error("municipality_id")) } %>
          <%= content_tag(:span, rodauth.field_error("municipality_id"), class: "block mt-1 text-red-600 text-xs", id: "municipality_id_error_message") if rodauth.field_error("municipality_id") %>
        </div>
        <div class="form-notice">Budete vidieť najmä podnety a oznamy z&nbsp;preferovaného mesta alebo obce.</div>
      </div>

      <div class="form-items-con">
        <div class="form-description">Chcete dostávať emailové notifikácie k&nbsp;podnetom?</div>

        <div class="form-radio-button-wrapper">
          <div class="form-radio-button-con">
            <%= form.radio_button :email_notifications, "yes", checked: params[:email_notifications].presence == "yes" || true %>
            <%= form.label :email_notifications, "Áno", value: "yes" %>
          </div>
          <div class="form-radio-button-con">
            <%= form.radio_button :email_notifications, "no", checked: params[:email_notifications].presence == "no" %>
            <%= form.label :email_notifications, "Nie", value: "no" %>
          </div>
        </div>

        <div class="form-notice">Emailové upozomenie k sledovanému podnetu dostávate v pripade aktualizácie alebo
          nového komentára.
        </div>
      </div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label "birth_year", "Rok narodenia" %>
          <%= form.number_field :birth_year, value: params[:birth_year], id: "birth_year", aria: ({ invalid: true, describedby: "birth_year_error_message" } if rodauth.field_error(:birth_year)), min: 1900, max: Date.today.year %>
          <%= content_tag(:span, rodauth.field_error(:birth_year), class: "error-message", id: "birth_year_error_message") if rodauth.field_error(:birth_year) %>
        </div>
      </div>

      <div class="form-check-box-con form-check-box-con-start">
        <%= form.checkbox :gdpr_stats_accepted, checked: params[:gdpr_stats_accepted] == "1", class: "form-check-box" %>
        <%= form.label :gdpr_stats_accepted, class: "prose" do %>
          Súhlasím so spracovaním osobných údajov aj na štatistické účely. Vaše osobné údaje anonymizujeme. Viac nájdete
          v časti <%= link_to 'Zásady ochrany osobných údajov', '/zasady-ochrany-osobnych-udajov', target: :_blank %>.
        <% end %>
      </div>

      <%= form.submit rodauth.create_account_button, class: "button" %>

      <div class="form-notice prose">Pri registrácii spracúvame vaše osobné údaje v&nbsp;rozsahu nevyhnutnom na splnenie úlohy
        realizovanej vo verejnom záujme na základe GDPR čl. 6, odsek 1 písm. e). Podmienkou pre vytvorenie (registráciu)
        používateľského
        účtu pre osoby mladšie ako 16 rokov je súhlas ich rodičov alebo zákonných zástupcov. Viac informácií o
        spracúvaní
        osobných údajoch a vašich právach nájdete v
        časti  <%= link_to 'Zásady ochrany osobných údajov', '/zasady-ochrany-osobnych-udajov', target: :_blank %>.
      </div>
    </div>
    </div>
  <% end %>
</section>
