<section class="forms-container report">
  <h1>Vytvoriť účet</h1>

  <div class="form-other-con">
    <div class="form-description">Polia označené * sú povinné.</div>

    <%= form_with url: rodauth.create_account_path, method: :post, data: { turbo: false }, html: { novalidate: true } do |form| %>
      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label "login", "#{rodauth.login_label}*" %>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", require: true, aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "error-message", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
        </div>

        <% if rodauth.create_account_set_password? %>
          <div class="form-item-wrapper">
            <%= form.label "password", "#{rodauth.password_label}*" %>
            <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "error-message", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
          </div>

          <% if rodauth.require_password_confirmation? %>
            <div class="form-item-wrapper">
              <%= form.label "password-confirm", "#{rodauth.password_confirm_label}*" %>
              <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "error-message", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
            </div>
          <% end %>
        <% end %>

        <div class="form-item-wrapper">
          <%= form.label :firstname, "Meno*" %>
          <%= form.text_field :firstname, value: params["firstname"], id: "firstname", aria: ({ invalid: true, describedby: "firstname_error_message" } if rodauth.field_error("firstname")) %>
          <%= content_tag(:span, rodauth.field_error("firstname"), class: "error-message", id: "firstname_error_message") if rodauth.field_error("firstname") %>
        </div>

        <div class="form-item-wrapper">
          <%= form.label :lastname, "Priezvisko" %>
          <%= form.text_field :lastname, value: params["lastname"], id: "lastname", aria: ({ invalid: true, describedby: "lastname_error_message" } if rodauth.field_error("lastname")) %>
          <%= content_tag(:span, rodauth.field_error("lastname"), id: "lastname_error_message") if rodauth.field_error("lastname") %>
        </div>

        <div class="form-item-wrapper">
          <%= form.label :municipality_id, "Mesto alebo obec" %>

          <%= form.select :municipality_id,
                          options_for_select(
                            Municipality.where(active: true).order(:name).map { |m| [ "#{m.name} (#{m.category&.titleize})", m.id ] },
                            params["municipality_id"]
                          ),
                          { include_blank: "Select Municipality" },
                          { id: "municipality_id", aria: ({ invalid: true, describedby: "municipality_id_error_message" } if rodauth.field_error("municipality_id")) } %>
          <%= content_tag(:span, rodauth.field_error("municipality_id"), class: "block mt-1 text-red-600 text-xs", id: "municipality_id_error_message") if rodauth.field_error("municipality_id") %>

        </div>

        <%= form.submit rodauth.create_account_button, class: "button" %>
      </div>
    <% end %>
  </div>
</section>
