<% content_for(:title, rodauth.create_account_page_title) %>

<section class="forms-container report">
  <h1>Vytvoriť účet</h1>
  <%= form_with url: rodauth.create_account_path, method: :post, data: { turbo: false }, html: { novalidate: true } do |form| %>
    <div class="form-other-con">
      <% if true # cookies[:legacy_visit] %>
        <div class="form-description prose">
          <p><strong>Mali ste účet na pôvodnom portáli Odkaz&nbsp;pre&nbsp;starostu a chcete sa prihlásiť do svojho účtu?</strong> Pred prvým prihlásením si kvôli bezpečnosti musíte <%= link_to 'vyžiadať nové heslo', rodauth.reset_password_request_route, class: :link %>.</p>
          <p>Ak ešte účet nemáte a chcete si ho vytvoriť, pokračujte ďalej.</p>
        </div>
      <% end %>

      <div class="form-description">Polia označené * sú povinné.</div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label "login", "#{rodauth.login_label}*" %>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", require: true, aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "error-message", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
        </div>

        <% if rodauth.create_account_set_password? %>
          <div class="form-item-wrapper">
            <%= form.label "password", "#{rodauth.password_label}*" %>
            <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "error-message", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
          </div>

          <% if rodauth.require_password_confirmation? %>
            <div class="form-item-wrapper">
              <%= form.label "password-confirm", "#{rodauth.password_confirm_label}*" %>
              <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "error-message", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
            </div>
          <% end %>
        <% end %>

        <div class="form-item-wrapper">
          <%= form.label :name, "Meno*" %>
          <%= form.text_field :name, value: params["name"], id: "name", aria: ({ invalid: true, describedby: "name_error_message" } if rodauth.field_error("name")) %>
          <%= content_tag(:span, rodauth.field_error("name"), class: "error-message", id: "name_error_message") if rodauth.field_error("name") %>
        </div>
      </div>

      <%= form.submit rodauth.create_account_button, class: "button" %>

      <div class="form-notice prose">Pri registrácii spracúvame vaše osobné údaje v&nbsp;rozsahu nevyhnutnom na splnenie úlohy
        realizovanej vo verejnom záujme na základe GDPR čl. 6, odsek 1 písm. e). Podmienkou pre vytvorenie (registráciu)
        používateľského
        účtu pre osoby mladšie ako 16 rokov je súhlas ich rodičov alebo zákonných zástupcov. Viac informácií o
        spracúvaní
        osobných údajoch a vašich právach nájdete v
        časti  <%= link_to 'Zásady ochrany osobných údajov', '/zasady-ochrany-osobnych-udajov', target: :_blank %>.
      </div>
    </div>
    </div>
  <% end %>
</section>
