<section class="forms-container report">
  <h1>Prihlásenie</h1>

  <div class="form-other-con">
    <% if true #cookies[:legacy_visit] %>
      <div class="form-description">
        <strong>Mali ste účet na pôvodnom portáli Odkaz&nbsp;pre&nbsp;starostu a chcete sa prihlásiť do svojho účtu?</strong> Pred prvým prihlásením si kvôli bezpečnosti musíte <%= link_to 'vyžiadať nové heslo', rodauth.reset_password_request_route, class: :link %>.
      </div>
    <% end %>

    <div class="form-description">
      Nemáte účet? <%= link_to rodauth.create_account_link_text, rodauth.create_account_path, class: "link" %>
    </div>

    <%= form_with url: rodauth.login_path, method: :post, data: { turbo: false }, html: { novalidate: true } do |form| %>
      <div class="form-items-con">
        <div class="form-item-wrapper">
          <%= form.label "login", rodauth.login_label %>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: rodauth.login_field_autocomplete_value, required: true, aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "error-message", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
        </div>
        <div class="form-item-wrapper">
          <%= form.label "password", rodauth.password_label %>
          <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "error-message", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
        </div>
        <div class="form-notice">
          <%= link_to rodauth.reset_password_request_link_text, rodauth.reset_password_request_route %>
        </div>
        <%= form.submit rodauth.login_button, class: "button" %>
      </div>
    <% end %>

    <div class="form-or-notice">alebo</div>

    <div class="form-items-con">
      <%= link_to "Prihlásiť sa cez email", rodauth.email_auth_request_path, class: "button" %>

      <% if ENV['FACEBOOK_APP_ID'].present? || ENV['GOOGLE_CLIENT_ID'].present? %>
          <% if ENV['GOOGLE_CLIENT_ID'].present? %>
            <%= button_to rodauth.omniauth_request_path(:google), method: :post, data: { turbo: false }, class: "button" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="w-5 h-5">
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
              </svg>
              <span>Prihlásiť cez Google</span>
            <% end %>
          <% end %>

          <% if ENV['FACEBOOK_APP_ID'].present? %>
            <%= button_to rodauth.omniauth_request_path(:facebook), method: :post, data: { turbo: false }, class: "button" do %>
              <svg viewBox="0 0 213 213" preserveAspectRatio="xMinYMin" class="w-5 h-5">
                <path d="M90,212v-75h-27v-31h27v-25q0,-40 40,-40q15,0 24,2v26h-14q-16,0 -16,16v21h30l-5,31h-27v75a106 106,0,1,0,-32 0" fill="#1877f2"></path>
                <path d="M90,212v-75h-27v-31h27v-25q0,-40 40,-40q15,0 24,2v26h-14q-16,0 -16,16v21h30l-5,31h-27v75a106 106,1,0,1,-32 0" fill="white"></path>
              </svg>
              <span>Prihlásiť cez Facebook</span>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</section>
