<% content_for(:title, rodauth.remember_page_title) %>

<section class="forms-container report">
  <h1><%= rodauth.remember_page_title %></h1>

  <div class="form-other-con">
    <%= form_with url: rodauth.remember_path, method: :post, data: { turbo: false }, html: { novalidate: true } do |form| %>
      <div class="form-items-con">
        <fieldset class="form-item-wrapper">
          <div class="radio-wrapper">
            <%= form.radio_button rodauth.remember_param, rodauth.remember_remember_param_value, id: "remember-remember" %>
            <%= form.label "remember-remember", rodauth.remember_remember_label %>
          </div>
          <div class="radio-wrapper">
            <%= form.radio_button rodauth.remember_param, rodauth.remember_forget_param_value, id: "remember-forget" %>
            <%= form.label "remember-forget", rodauth.remember_forget_label %>
          </div>
          <div class="radio-wrapper">
            <%= form.radio_button rodauth.remember_param, rodauth.remember_disable_param_value, id: "remember-disable" %>
            <%= form.label "remember-disable", rodauth.remember_disable_label %>
          </div>
        </fieldset>

        <%= form.submit rodauth.remember_button, class: "button" %>
      </div>
    <% end %>
  </div>
</section>
