<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{content_for(:title)} | Odkaz pre starostu" : "Odkaz pre starostu"  %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="<%= content_for?(:title) ? "#{content_for(:title)} | Odkaz pre starostu" : "Odkaz pre starostu"  %>">
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Je vo vašom okolí potrebné niečo vyriešiť? Odfoťte, odošlite a sledujte riešenie podnetu samosprávou.">
    <meta property="og:image" content="<%= image_url('og-image.png') %>">
    <%= tag.meta property: "og:url", content: content_for?(:canonical_url) ? content_for(:canonical_url) : request.base_url + request.path %>
    <meta name="twitter:card" content="summary_large_image">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json), crossorigin: "use-credentials" %>

    <!-- Favicons -->
    <%= favicon_link_tag "favicon-16.png", type: "image/png", sizes: "16x16" %>
    <%= favicon_link_tag "favicon-32.png", type: "image/png", sizes: "32x32" %>
    <%= favicon_link_tag "favicon-64.png", type: "image/png", sizes: "64x64" %>

    <!-- iOS -->
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-16.png", rel: "apple-touch-icon", sizes: "16x16" %>
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-32.png", rel: "apple-touch-icon", sizes: "32x32" %>
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-64.png", rel: "apple-touch-icon", sizes: "64x64" %>
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-128.png", rel: "apple-touch-icon", sizes: "128x128" %>
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-256.png", rel: "apple-touch-icon", sizes: "256x256" %>
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-512.png", rel: "apple-touch-icon", sizes: "512x512" %>
    <%= favicon_link_tag "apple-touch-icons/apple-touch-icon-1024.png", rel: "apple-touch-icon", sizes: "1024x1024" %>


    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "leaflet", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "leaflet.locatecontrol", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "es-module-shims", "data-turbo-track": "reload", async: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="navigation intercept" data-navigation-target="toggler" data-intercept-toggle-class-value="shadow">
  <%= render "shared/header" %>

  <%= render "shared/flash" %>

  <%= yield %>

  <%= render "shared/footer" %>
  </body>
</html>
